footer.footer 
    .container 
        .footer__content
            .footer__content-left 
                img(src="./images/last-logo.webp", alt="")
                .footer__content-button 
                    p.footer__content-text $ USD 
                    span.footer__content-span ↓
                .footer__content-sort
                    p.footer__content-text ₽ RUB
                    p.footer__content-text SUM
                .footer__content-button
                    p.footer__content-text English 
                    span.footer__content-span ↓
                .footer__content-sort
                    p.footer__content-text Russian 
                    p.footer__content-text Uzbek
            .footer__content-right 
                .footer__content-products
                    h6.footer__content-title Products
                    ul 
                        li.footer__content-link Website Templates
                        li.footer__content-link Websites
                        li.footer__content-link Domains
                        li.footer__content-link Online Stores
                        li.footer__content-link Point of Sale
                        li.footer__content-link Extensions
                        li.footer__content-link Marketing Tools
                        li.footer__content-link Email Marketing
                        li.footer__content-link Scheduling
                        li.footer__content-link Stories
                        li.footer__content-link Professional Email
                        li.footer__content-link Logo Maker
                        li.footer__content-link Enterprise
                        li.footer__content-link Pricing
                        li.footer__content-link Feature List
                .footer__content-products
                    h6.footer__content-title Customers
                    ul 
                        li.footer__content-link Featured
                        li.footer__content-link Small Businesses
                        li.footer__content-link Photographers
                        li.footer__content-link Bloggers
                        li.footer__content-link Artists
                        li.footer__content-link Restaurants
                        li.footer__content-link Musicians
                        li.footer__content-link Weddings
                        li.footer__content-link Students
                .footer__content-products
                    h6.footer__content-title Company
                    ul 
                        li.footer__content-link About
                        li.footer__content-link Careers
                        li.footer__content-link Our Brand
                        li.footer__content-link Affiliates
                        li.footer__content-link Press & Media
                        li.footer__content-link Terms of Service
                        li.footer__content-link Privacy Policy
                        li.footer__content-link Weddings
                        li.footer__content-link Contact Us
                .footer__content-products
                    h6.footer__content-title Community
                    ul 
                        li.footer__content-link Help & Support
                        li.footer__content-link Hire an Expert
                        li.footer__content-link Forum
                        li.footer__content-link Webinars
                        li.footer__content-link Developer Platform
                        li.footer__content-link Circle
                .footer__content-products
                    h6.footer__content-title Follow
                    ul 
                        li.footer__content-link Newsroom
                        li.footer__content-link Squarespace Blog
                        li.footer__content-link Creative Blog
                        li.footer__content-link Engineering Blog
                        li.footer__content-link Service Status
                        li.footer__content-link Instagram
                        li.footer__content-link YouTube
                        li.footer__content-link LinkedIn
                        li.footer__content-link Facebook
                        li.footer__content-link Twitter