header.header
    .header__nav
        .container
            .header__nav-content
                a(href="")   
                    img(src="./images/logo.webp" alt="")
                ul.header__nav-list 
                    a(href="")
                        li.header__nav-link Products
                    a(href="")(id="navLink")
                        li.header__nav-link Templates
                    a(href="")
                        li.header__nav-link Resources
                .header__nav-button 
                    a.header__nav-btn(href="") Log In
                    a.header__nav-btn(href="") Get Started
    .header__content
        .container 
            .header__content-info 
                ul.header__content-list 
                    li.header__content-link Sell Online
                    li.header__content-link Member Areas
                h1.header__content-title Create members-only content.
                p.header__content-text Monetize your content with Member Areas. Add paid areas to an existing Squarespace site or build a new one with our award-winning templates.
                a(href="").header__content-btn Get Started

