main.main 
    .main__content
        .container 
            .main__content-picture
                a(href="")  
                    img(src="./images/second-logo.webp", alt="")
                a(href="") 
                    img(src="./images/cross.svg", alt="").main__content-cross
            .main__content-about 
                h2.main__content-title All-in-one tools.
                p.main__content-describe Get everything you need to create, share, and manage paid content with our versatile Member Areas.
            .main__content-items    
                .main__content-item
                    .main__content-info 
                        img(src="./images/img.webp", alt="")
                        .main__content-right 
                            p.main__content-describtion Master everything from fundametal techniques to classic recipes
                            a(href="").main__content-btn Explore More
                    .main__content-expertice 
                        h4.main__content-caption   Share your expertise.
                        p.main__content-text Create classes, training, and packages for people of all skill levels and communities.                                    
                .main__content-item
                    .main__content-secondInfo 
                        h6.main__content-tools Set Free
                        .main__content-select 
                            h5.main__content-pressure One Time
                            h5.main__content-pressure Recurring
                            h5.main__content-pressure Free
                        .main__content-sell
                            .main__content-rectangle 
                                h6.main__content-fee Fee Repeats
                                p.main__content-price $20.00
                        .main__content-menu
                            .main__content-box
                                select.main__content-option 
                                    option(value="1" selected="selected") 1
                                    option(value="1") 2
                                    option(value="1") 3
                                    option(value="1") 4
                                    option(value="1") 5
                                select.main__content-option  
                                    option(value="" disabled="disabled" selected="selected")  Week                                    
                                    option(value="")  Monday                                    
                                    option(value="")  Tuesday
                                    option(value="")  Wednesday
                                    option(value="")  Thursday
                                    option(value="")  Friday
                                    option(value="")  Saturday 
                                    option(value="")  Sunday
                    .main__content-expertice 
                        h4.main__content-caption   Choose how you charge..
                        p.main__content-text Charge a fee every week, month, or all at once. You can also make it completely free.                                   
                .main__content-item
                    .main__content-thirdInfo 
                        h4.main__content-infoTitle Alice Dance
                        .main__content-infoImg
                            img(src="./images/icon.webp", alt="").main__content-icon
                            p.main__content-infoText Created Account 
                        .main__content-infoImg
                            img(src="./images/icon.webp", alt="").main__content-icon
                            p.main__content-infoText Accepts Marketing
                        .main__content-sort
                            .main__content-sortInfo 
                                h5.main__content-sortSpan Subscriber Details 
                                img(src="./images/arrow.svg", alt="").main__content-arrow
                            .main__content-sortPopup    
                                .main__content-details 
                                    p Subscribed Since 
                                    p Feb 3, 2020
                                .main__content-details 
                                    p Mailinig List
                                    p 1
                    .main__content-expertice 
                        h4.main__content-caption   Everything in one place.
                        p.main__content-text Send emails, get insights, manage members, and choose where visitors sign up.


                        
    .main__piano
        .main__piano-content
            h3.main__piano-title Imagine the possibilities.
            p.main__piano-text Member Areas give you the power to educate and inspire your audience.
            a.main__piano-btn(href="https://youtu.be/t_Kd_G7p6ZQ") Watch the Video
    .main__exclusive
        .container
            h2.main__exclusive-title Engage your audience with exclusive content.
            p.main__exclusive-describe From virtual classes and workshops to newsletters, podcasts, and video series, Member Areas help you build, harness, and monetize the power of your online community.
            .main__exclusive-content
                .main__exclusive-items
                    .main__exclusive-left 
                        h4.main__exclusive-caption Promote premium content.
                        p.main__exclusive-text Whether you’re a chef selling recipes and cooking videos or a financial planner sharing newsletters and podcasts, Squarespace has the tools you need to protect and share your content.
                    .main__exclusive-right 
                        img(src="./images/main-img.webp", alt="").main__exclusive-image
                .main__exclusive-items
                    .main__exclusive-right 
                        img(src="./images/main-img-2.webp", alt="").main__exclusive-image
                    .main__exclusive-left 
                        h4.main__exclusive-caption Share online classes.
                        p.main__exclusive-text From virtual yoga classes to writing workshops, digital networking events to 1:1 coaching, our platform helps creators educate and inspire members.
                .main__exclusive-items
                    .main__exclusive-left 
                        h4.main__exclusive-caption Build a community.
                        p.main__exclusive-text Help members connect with one another through virtual events, email updates, shared event calendars, and group workshops.
                    .main__exclusive-right 
                        img(src="./images/main-img-3.webp", alt="").main__exclusive-image
                .main__exclusive-items
                    .main__exclusive-right 
                        img(src="./images/main-img-4.webp", alt="").main__exclusive-image
                    .main__exclusive-left 
                        h4.main__exclusive-caption Integrate your newsletter.
                        p.main__exclusive-text Member areas connect with Squarespace Email Campaigns. So you can manage lists and send newsletters all from the same place.
                .main__exclusive-items
                    .main__exclusive-left 
                        h4.main__exclusive-caption Protect your content.
                        p.main__exclusive-text Other platforms allow users to bypass paywalls. Our tools ensure a seamless and secure member experience.
                    .main__exclusive-right 
                        img(src="./images/slider-img-2.webp", alt="").main__exclusive-image
                .main__exclusive-items
                    .main__exclusive-right
                        .main__exclusive-picture
                            img(src="./images/main-img-5.webp", alt="").main__exclusive-img
                            img(src="./images/main-img-2.webp", alt="").main__exclusive-img
                        .main__exclusive-slide
                            p.main__exclusive-number 01 / 02
                            span.main__exclusive-span(id="exLeft") ←
                            span.main__exclusive-span(id="exRight") →
                    .main__exclusive-left(id="left") 
                        p.main__exclusive-text “Member Areas provide the virtual clubhouse our community needs with weekly content, a virtual library and tools to guide new visitors and potential students into the community.”
                        .main__exclusive-button
                            p.main__exclusive-name Kanda Yoga School
                            a(href="").main__exclusive-email kandayogaschool.com
    .main__point    
        .main__point-content
            h2.main__point-title Pick your starting point.
            p.main__point-text Templates make it easy to get started. Just select a Member Areas template, then customize it to suit your needs.
            .main__point-sortSpan
                p.main__point-btn Browse Templates
                img(src="./images/arrow-2.svg", alt="")
        .main__point-slide 
            .main__point-slides 
                img(src="./images/slider-img.webp", alt="")
                p.main__point-slidesText Myhra
            .main__point-slides
                img(src="./images/slider-img-2.webp", alt="")
                p.main__point-slidesText Grow Well
            .main__point-slides 
                img(src="./images/main-img.webp", alt="")
                p.main__point-slidesText Myhra
            .main__point-slides
                img(src="./images/main-img-2.webp", alt="")
                p.main__point-slidesText Grow Well
            .main__point-slides 
                img(src="./images/main-img-4.webp", alt="")
                p.main__point-slidesText Myhra
            .main__point-slides
                img(src="./images/main-img-3.webp", alt="")
                p.main__point-slidesText Grow Well
    .main__member 
        .container  
            .main__member-content 
                .main__member-left 
                    h3.main__member-title How to get started with Member Areas
                    .main__member-arrow
                        p.main__member-btn Get Started
                        span.main__member-span →
                .main__member-right 
                    .main__member-list
                        p.main__member-number 01.
                        p.main__member-link Create a website with Squarespace, and decide on a name for your member area.
                    .main__member-list 
                        p.main__member-number 02.
                        p.main__member-link Add members-only content, from classes to newsletters, guides to videos.
                    .main__member-list 
                        p.main__member-number 03.
                        p.main__member-link Customize your member area landing and sign-up page with details about what you offer.
                    .main__member-list 
                        p.main__member-number 04.
                        p.main__member-link Connect your preferred processor so you can start receiving fees.
                    .main__member-list 
                        p.main__member-number 05.
                        p.main__member-link Add a Member Areas subscription to your existing Squarespace website plans
    .main__plans 
        .container 
            .main__plans-content 
                h4.main__plans-title Pricing Plans
                p.main__plans-text Pricing below is in addition to Squarespace website plans.
                .main__plans-pay 
                    .main__plans-choose
                        .main__plans-buttons
                            .main__plans-circle
                            p.main__plans-label Pay Annually 
                        .main__plans-buttons 
                            .main__plans-circle 
                            p.main__plans-label Pay Monthly 
                    .main__plans-info 
                        .main__plans-about 
                            h4.main__plans-caption Starter
                            p.main__plans-price #[span $]9
                            p.main__plans-month per month
                            p.main__plans-sale Save 10% annually
                        .main__plans-about 
                            h4.main__plans-caption Core
                            p.main__plans-price #[span $]18
                            p.main__plans-month per month
                            p.main__plans-sale Save 10% annually
                        .main__plans-about 
                            h4.main__plans-caption Pro
                            p.main__plans-price #[span $]35
                            p.main__plans-month per month
                            p.main__plans-sale Save 13% annually
                .main__plans-items 
                    h5.main__plans-features Features
                    .main__plans-item
                        .main__plans-category   
                            .main__plans-idea 
                                .main__plans-member Number of member areas
                            .main__plans-numbers 
                                span.main__plans-number 1
                                span.main__plans-number 3
                                span.main__plans-number 10
                        .main__plans-rectangle 
                        .main__plans-category   
                            .main__plans-idea 
                                .main__plans-member Transaction fee
                            .main__plans-numbers 
                                span.main__plans-number 7%
                                span.main__plans-number 4%
                                span.main__plans-number 1%
                        .main__plans-rectangle 
                        .main__plans-category   
                            .main__plans-idea 
                                .main__plans-member Unlimited members
                            .main__plans-numbers
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                        .main__plans-rectangle 
                        .main__plans-category   
                            .main__plans-idea 
                                .main__plans-member No ads or Squarespace branding
                            .main__plans-numbers
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                        .main__plans-rectangle 
                        .main__plans-category   
                            .main__plans-idea 
                                .main__plans-member Offer discounts and promotions
                            .main__plans-numbers
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                                span  
                                    img(src="./images/tick.svg", alt="")
                        .main__plans-rectangle 
                .main__plans-box
                    .main__plans-include
                        .main__plans-self
                            h4.main__plans-boxTitle Features included with all plans
                        .main__plans-self
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Free, one-time, or recurring fee structure
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Seamless and secure member experience
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Member management
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Integrated analytics
                        .main__plans-self
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Members can pay with PayPal or credit card
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText 24/7 customer support
                            .main__plans-selfImg
                                span  
                                    img(src="./images/tick.svg", alt="")
                                p.main__plans-selfText Squarespace Extensions to manage your business
    .main__create 
        .container 
            .main__create-content 
                h2.main__create-title Frequently Asked Questions
                .main__create-info
                    .main__create-rectangle
                    .main__create-box
                        .main__create-about 
                            p.main__create-text Can I use Member Areas with any Squarespace website plan?   
                            span +
                        .main__create-secretive
                            p.main__create-describe — Yes, to do this, go to the "Services" section of your personal account and click "Details". The amount of the daily charge will be updated from the date the tariff plan was changed. The exception is the “Subscription” option, for more information, see the answer to the question “How does the “Subscription” option work?”.
                    .main__create-rectangle
                    .main__create-box
                        .main__create-about 
                            p.main__create-text Do Member Areas integrate with Squarespace Email Campaigns?  
                            span +
                        .main__create-secretive
                            p.main__create-describe — Yes, to do this, go to the "Services" section of your personal account and click "Details". The amount of the daily charge will be updated from the date the tariff plan was changed. The exception is the “Subscription” option, for more information, see the answer to the question “How does the “Subscription” option work?”.
                    .main__create-rectangle
                    .main__create-box
                        .main__create-about 
                            p.main__create-text Can I protect everything on my website? Campaigns?  
                            span +
                        .main__create-secretive
                            p.main__create-describe — Yes, to do this, go to the "Services" section of your personal account and click "Details". The amount of the daily charge will be updated from the date the tariff plan was changed. The exception is the “Subscription” option, for more information, see the answer to the question “How does the “Subscription” option work?”.
                    .main__create-rectangle
                    .main__create-rectangle
                    .main__create-box
                        .main__create-about 
                            p.main__create-text Can I create Member Areas but not charge a fee to users?
                            span +
                        .main__create-secretive
                            p.main__create-describe — Yes, to do this, go to the "Services" section of your personal account and click "Details". The amount of the daily charge will be updated from the date the tariff plan was changed. The exception is the “Subscription” option, for more information, see the answer to the question “How does the “Subscription” option work?”.
                    .main__create-rectangle
                    .main__create-rectangle
                    .main__create-box
                        .main__create-about 
                            p.main__create-text Can I use Member Areas with a non-Squarespace website?
                            span +
                        .main__create-secretive
                            p.main__create-describe — Yes, to do this, go to the "Services" section of your personal account and click "Details". The amount of the daily charge will be updated from the date the tariff plan was changed. The exception is the “Subscription” option, for more information, see the answer to the question “How does the “Subscription” option work?”.
                    .main__create-rectangle
            .main__create-picture 
                .main__create-left 
                    img(src="./images/last-img.webp", alt="")
                .main__create-right 
                    h4.main__create-support Award-winning customer support
                    p.main__create-describtion Think of Squarespace as your very own IT department. Alongside unlimited hosting and enterprise-grade infrastructure, we offer dedicated 24/7 support.
                    a(href="").main__create-btn Visit Help Center
                    a(href="").main__create-btn Contact Support
                    a(href="").main__create-btn Webinars
    .main__last 
        .main__last-line 
        .container 
            .main__last-items 
                h4.main__last-web Squarespace is the all-in-one platform to build a beautiful website.
                a(href="").main__last-start Start a Free Trial
        .main__last-line 
         
        
            

    

                            
                            


                        
                        

                        
               

    




                    





                